button{
    background: transparent;
    color: #FFF;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0;
    padding: 10px 30px;
    border: 2px solid #FFF;
}

button:hover{
    background: transparent;
    border: 2px solid #d3a308;
}